/*Welcome*/
.welcome{
    width: 100%;
    min-height: 100vh;
    background-image: url(img/bg-forest.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
.welcome:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 71%;
    z-index: -1;
}
    /*Welcome>header-container*/
.welcome .header-container{
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;

    display: flex;
    justify-content: flex-end;
    align-items:stretch;
}
.button{
    position: relative;
    display: block;
    height: 30px;
    width: 120px;
    background-color:dimgray;
    border-radius: 8px;
    border: 3px solid black;
    text-transform: uppercase;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    padding: 1px 2px;
    margin: 1px 2px;
    font-size: 0.5em;
    color: white;
    transition: 0.5s ease;
    font-weight: bold;
  }
.button:hover{
    position: relative;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    cursor: pointer;
    font-weight: bold;
    background-color: black;;
    border-radius: 20px;
    height: 42px;
    width: 200px;
    font-size: 0.7em;
    padding: 5px 15px;
    margin-top:2px;
    color: whitesmoke;
    border: 5px solid white;
}
.line{
    width: 10px;
    height: 1px;
    background-color: white;
    margin: 15px;
    opacity: 40%;
    transition: 0.8s ease;
}
.header-container:hover span{
    width: 0;
}

    /*Welcome content-container End*/
.welcome .content-container{
    position: relative;
    display: flex;
    height: 600px;
    padding: 160px 0 0 60px;
}
.title{
    padding: 1px 0 0 13px;
    font-size: 50px;
    color: transparent;
}
.title-1{
    animation: text_reveal 3s ease forwards  ;
    animation-delay: 1s;
}
.title-2{
    animation: text_reveal 3s ease forwards  ;
    animation-delay: 1.05s;
}
.title-3{
    animation: text_reveal 3s ease forwards  ;
    animation-delay: 1.1s;
}
.description{
    width: 52%;
    height: 57vh;
    background-color: transparent;
    border: 1px solid transparent;
    margin: -20px 0 0 140px;
    border-radius: 10px;
    color: transparent;


    animation: text_border_bg_reveal 3s ease forwards;
    animation-delay: 1s;
}
.description h2{
    font-size: 34px;
    text-align: center;
    padding: 15px 0 30px 0;
    animation: text_reveal 3s ease forwards;
    animation-delay: 3s;
}
.description p{
    font-weight: bold;
    font-size: 24px;
    padding: 15px 30px;
    position: relative;
    animation: text_reveal 3s ease forwards;
    animation-delay: 3s;
}
.description p::before{
    content: " ";
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: relative;
    margin: 0 10px 1.9px 0;
    display: inline-block;
    border-radius: 50%;

    animation: bg_reveal 3s ease forwards;
    animation-delay: 2s;
}
    /*Welcome content-container End*/
/*Welcome END*/
/*Keyframes*/
@keyframes text_reveal {
    100%{
        color: white;
    }
}
@keyframes text_border_bg_reveal {
    100%{
        color: white;
        border-color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.65);
    }
}
@keyframes bg_reveal {
    100%{
        background-color: #fff;
    }
}

/*Keyframes END*/
/*Media*/
@media  screen and (max-width: 100px) {
    
}
/*Media END*/
