#main{
    background-attachment: fixed;
    background-image: url(img/bg-forest.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#main::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 70%;
    z-index: -1;
}

#main h1{
    display: block;
    width: fit-content;
    font-size: 6em;
    color: whitesmoke;
}

#main .main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main .head-container{
    height: 900px;
    position: relative;
    top: 90px;
}

